{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Date</th>
                <th>Location</th>
                <th>Max_persons</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.time ? lesson.time|date('H:i:s') : '' }}</td>
                <td>{{ lesson.date ? lesson.date|date('Y-m-d') : '' }}</td>
                <td>{{ lesson.location }}</td>
                <td>{{ lesson.maxPersons }}</td>
                <td>
                    <a href="{{ path('lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_new') }}">Create new</a>
{% endblock %}
