{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>Lesson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ lesson.time ? lesson.time|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ lesson.date ? lesson.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ lesson.location }}</td>
            </tr>
            <tr>
                <th>Max_persons</th>
                <td>{{ lesson.maxPersons }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_index') }}">back to list</a>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
